<% provide(:title, 'Spot Details') %>
<% provide(:subtitle, 'Users who joined this spot') %>
<%= render 'shared/messages' %>
<div class="header">
  <h1><%= yield(:title) %></h1>
  <h2><%= yield(:subtitle) %></h2>
</div>
<div class="content">
  <div class="textcontent">
    <p>
      <%= @spot.address %>
      <% if @users.any? %>
        <% @users.each do |user| %>
          <%= user.name %>
        <% end %>
      <% end %>
    </p>
  </div>
</div>
