<% provide(:title, 'The Ugly Indian') %>
<% provide(:subtitle, 'Forgot your password?') %>
<div class="header">
  <h1><%= yield(:title) %></h1>
  <h2><%= yield(:subtitle) %></h2>
</div>
<div class="content">
  <div class="textcontent">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'pure-form pure-form-stacked', id: 'top-form' }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true %>

  <%= f.submit "Send me reset password instructions", :class => 'pure-button pure-button-primary' %>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
