    <div id="menu">
        <div class="pure-menu pure-menu-open">
            <%= link_to "India Rising", root_path, :class => "pure-menu-heading" %>
            <ul>
                <li class="menu-item-divided pure-menu-selected"><%= link_to "Home", root_path %></li>
                <li><%= link_to "Plan", plan_path %></li>
                <li><%= link_to "Join", join_path %></li>
                <li><%= link_to "Report", report_path %></li>
            </ul>
        </div>
    </div>