<div id="menu">
  <div class="pure-menu pure-menu-open">
    <%= link_to "India Rising", root_path, :class => "pure-menu-heading" %>
    <% if user_signed_in? %>
      <div class="pure-menu-user pure-g">
        <div class="pure-u-1-3">
          <% if current_user.image? %>
            <img class="pure-img" src="<%= current_user.image %>" alt="<%= current_user.name %>">
          <% else %>
            <%= gravatar_for current_user %>
          <% end %>
        </div>
        <div class="pure-u-2-3">
          <div class= "welcometext">
            Welcome,
            <span class="usrnm">
              <%= current_user.name %></span>
          </div>
        </div>
      </div>
    <% end %>
    <ul>
      <li id="home" class="<%= 'menu-item-divided pure-menu-selected' if current_page?(root_path) %>"><%= link_to '<i class="fa fa-home"></i>&nbsp;Home'.html_safe, root_path %></li>
      <li id="join" class="<%= 'menu-item-divided pure-menu-selected' if current_page?(join_path) %>"><%= link_to '<i class="fa fa-users"></i>&nbsp;Join'.html_safe, join_path %></li>
      <li id="propose" class="<%= 'menu-item-divided pure-menu-selected' if current_page?(propose_path) %>"><%= link_to '<i class="fa fa-location-arrow"></i>&nbsp;Propose'.html_safe, propose_path %></li>
      <li id="report" class="<%= 'menu-item-divided pure-menu-selected' if current_page?(report_path) %>"><%= link_to '<i class="fa fa-pencil"></i>&nbsp;Report'.html_safe, report_path %></li>
      <li id="completed" class="<%= 'menu-item-divided pure-menu-selected' if current_page?(completed_path) %>"><%= link_to '<i class="fa fa-thumbs-up"></i>&nbsp;Completed'.html_safe, completed_path %></li>
      <% if user_signed_in? %>
      <li id="joined" class="<%= 'menu-item-divided pure-menu-selected' if current_page?(spots_user_path) %>"><%= link_to '<i class="fa fa-map-marker"></i>&nbsp;Joined'.html_safe, spots_user_path %></li>
        <li id="logout" class="<%= 'menu-item-divided pure-menu-selected' if current_page?(destroy_user_session_path) %>"><%= link_to '<i class="fa fa-unlock-alt"></i>&nbsp;Log out'.html_safe, destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li id="signup" class="<%= 'menu-item-divided pure-menu-selected' if current_page?(new_user_registration_path) %>"><%= link_to '<i class="fa fa-pencil-square-o"></i>&nbsp;Sign up'.html_safe, new_user_registration_path %></li>
        <li id="signin" class="<%= 'menu-item-divided pure-menu-selected' if current_page?(new_user_session_path) %>"><%= link_to '<i class="fa fa-lock"></i>&nbsp;Sign in'.html_safe, new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>
